{% extends "layout.html" %}
{% block body %}
	<div class="center">
		<div id="main-column">
			<div class="white">
					<h3>Stats:</h3>
					
					<h4>Max tweets:</h4>
					<h5>{{mx}} - {{max_user.name}}</h5>
					
					<div class="space">
						<h4>Avg tweets per user:</h4>
						<h5>{{avg}}</h5>
					</div>
					
					
					<h3>Dump:</h3>
					<a href="/admin/dump">get dump</a>
					
					<h3>Backup:</h3>
					<a href="/admin/backup">get backup</a>
				
			</div>
		</div>
	</div>
	<style>
		h5, a {
			margin-left: 40px;
		}
	</style>
{% endblock %}