<!doctype html>
<title>Twotter</title>



<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	{% block head %}
	{% endblock %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
	<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">


</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">Twotter</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb=2 mb-1g-0">
					{% if auth %}
					<li class="nav-item">
						<a class="nav-link" href="/users/{{ auth }}">My Page</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/emotes">Emotes</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
					{% else %}
					<li class="nav-item">
						<a class="nav-link" href="/login">Login</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/register">register</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	  </nav>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-secondary" role="alert">
					{{ message }}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}  
	
	{% block body %}
	{% endblock %}
	
	{% if tweets %}
		<div class="center">
			<div id="main-column">
				{% for tweet in tweets %}
					<div class="white">
						<div class="inline-margin-left">
							<img class="tweet-image" src="{{ url_for('static', filename='img/default_profile.png') }}">
							<div class="paddy">
								<div class="inline">
									<h6><a href="/users/{{tweet.user.id}}">
										{{ tweet.user.screen_name }}
									</a></h6>
									<time data-bs-toggle="tooltip" data-placement="top" title="{{ tweet.created_at.strftime('%d/%m/%y, %H:%M:%S')}}">
										<small><b><u>
										{{ tweet.created_at.strftime('%d/%m/%y') }}
										</u></b></small>
									</time>
									<div class="dropdown" style="margin-left: auto;">
										<button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" flip="true">
											...
										</button>
										<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
											{% if tweet.author_id == auth %}
											<button class="dropdown-item" onclick="remove_tweet({{tweet.id}})">delete tweet</button>
											{% endif %}
											<a class="dropdown-item" href="#">wot</a>
										</div>
									</div>
									
								</div>
								<p class="tweet">{{ tweet.text }}</p>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
	<script src="{{ url_for('static', filename='js/parse.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
	<script>
		var tooltipTriggerList = [].slice.call(document.querySelectorAll('time'))
		var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
			return new bootstrap.Tooltip(tooltipTriggerEl)
		})
		
		function remove_tweet(id){
			console.log(id);
			fetch("/tweet/" + id, {
				method: 'DELETE',
			}).then(() => {
				location.reload();
			}).catch(err => {
				console.error(err)
			});
		}
	</script>
	<style>
	</style>
</body>