{% extends "layout.html" %}
{% block body %}
	<div>
		<h1> {{ user.name }} </h1>
		<h4>Add a new emote</h4>
		<form method="post" enctype="multipart/form-data">
			<label for="name">name:</label>
			<input name="name" id="name" required>
			<input type="file" name="image" id="image" required>
			<input type="submit" value="submit">
		</form>
	</div>
	
	<div>
		<h4>Owned emotes:</h4>
		{% for emote in owned_emotes %}
			<div>
				<img src="{{ url_for('static', filename=emote.url) }}">	
				<a href="/emotes/{{ emote.id }}">{{ emote.name }}</a>
			</div>
		{% endfor %}
	</div>
	
	<style>
	img {
		width: 40px;
		vertical-align: middle;
	}
	</style>
{% endblock %}

