{% extends "layout.html" %}
{% block body %}
	<div class="center">
		<div class="card" style="padding: 20px;">
			<form method="post">
				<label for="screen-name">screen name:</label>
				<input id="screen-name" name="screen-name">
			</form>
			<form method="post">
				<label for="email">email:</label>
				<input id="email" name="email">
				<label for="old-password">old password:</label>
				<input id="old-password" name="old-password">
				<label for="new-password">new password:</label>
				<input id="new-password" name="new-password">
			</form>
		</div>
	</div>
		
{% endblock %}