{% extends "layout.html" %}
{% block body %}
	<div class="center">
		<div id="main-column">
			<div class="white" id="profile">
				<div class="grey">
				</div>
				<img id="profile-image" src="{{ url_for('static', filename='img/default_profile.png') }}">
				<h2>{{ user.screen_name }}</h2>
				<aria-label>@{{ user.name }}</aria-label>
			</div>

			{% if auth %}
				<div class="favourites">
					{% for emote in favourite_emotes %}
						<span class="favourite">{{ emote.name }}</span>
					{% endfor %}
				</div>
				<textarea form="tweet-form" id="text" name="text"></textarea>
				<form method="post" id="tweet-form">
					<input type="submit" value="send">
				</form>
			{% endif %}
		</div>
	</div>
{% endblock %}

